<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3>With Flutter Test Robots</h3>
      <pre><code>testWidgets("my test", (tester) async {
  // Setup the test.

  // Press CMD+V (like for a paste).
  await tester.pressCmdV();

  // Press CMD+LEFT (jump to start).
  await tester.pressCmdLeftArrow();

  // Verify expectations.
});
      </code></pre>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>With Flutter</h3>
      <pre><code>testWidgets("my test", (tester) async {
  // Setup the test.

  // Press CMD+V (like for a paste).
  await tester.sendKeyDownEvent(
    LogicalKeyboardKey.meta,
  );
  await tester.sendKeyEvent(
    LogicalKeyboardKey.keyV,
  );
  await tester.sendKeyUpEvent(
    LogicalKeyboardKey.meta,
  );

  // Press CMD+LEFT (jump to start).
  await tester.sendKeyDownEvent(
    LogicalKeyboardKey.meta,
  );
  await tester.sendKeyEvent(
    LogicalKeyboardKey.arrowLeft,
  );
  await tester.sendKeyUpEvent(
    LogicalKeyboardKey.meta,
  );

  // Verify expectations.
});
      </code></pre>
    </div>
  </div>
</div>
